{{>partials/header}}

  <div style="width: 400px;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias qui necessitatibus
    ut illo autem obcaecati, consequatur provident aspernatur at numquam expedita. Molestiae amet
    adipisci minus sint ratione dignissimos voluptatibus in!
  </div>

  <hr>
  <a href="/contact">Contato</a>
  <a href="/about">Sobre</a>  

{{>partials/footer}}