<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/home.css">
</head>
<body style="width: 400px;">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias qui necessitatibus ut illo autem obcaecati, consequatur provident aspernatur at numquam expedita. Molestiae amet adipisci minus sint ratione dignissimos voluptatibus in!
</body>
</html>