{{>partials/header}}
  <section style="display:flex; flex-direction: column;">
    <div style="width: 400px; margin: 0 auto; padding: 20px">
      Atualmente, concentro meus esforços no aprofundamento dos conhecimentos em ServiceNow, 
      além de ter familiaridade com JavaScript, HTML5, CSS3, ReactJs e C++.
    </div>
    <div style="width: 400px; margin: 0 auto; padding: 20px">
      Em busca de oportunidades como estágio ou cargo júnior, viso aplicar os conhecimentos teóricos 
      adquiridos até o momento, aliados à realização da graduação em Análise e Desenvolvimento de 
      Sistemas, no qual estou no segundo período.
    </div>
    <div style="width: 400px; margin: 0 auto; padding: 20px">
      Na Vale, trabalho na gestão de custos, otimizando recursos financeiros para maximizar resultados, 
      bem como na gestão de estoque, garantindo a disponibilidade adequada de materiais. Gerenciamento 
      de ativos e ordens de manutenção utilizando o módulo SAP-PM , e as atividades de gestão 
      relacionadas à requisição de compra, utilizando o módulo SAP-MM. Aplicando a Metodologia Lean 
      Manufacturing, busco constantemente eliminar desperdícios e promover eficiência.
    </div>
    <div style="width: 400px; margin: 0 auto; padding: 20px">
      Possuo certificações em ServiceNow, Scrum Fundamentals, e Banco de Dados MySQL/MariaDB, 
      validando minha habilidade em áreas essenciais da tecnologia.
    </div>
  <section>

  <hr>
  <a href="./">Voltar</a>
{{>partials/footer}}